.basicDashboardWrap {
  width: 100%;
  box-shadow: 0px 4px 1rem 0.05rem rgba(208, 208, 208, .4);
  border-radius: 1rem;
  flex: 1;
  margin: 3rem 0;
}

.basicDashboard {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  min-height: 462px;
  margin: 0 0.8rem;
}

.basicDashboardItem {
  position: relative;
  padding-top: 42px;
  padding-left: 12px;
  padding-right: 12px;
}

.dotsBars {
  width: 40px;
  height: 40px;
  --c: linear-gradient(currentColor 0 0);
  --r1: radial-gradient(farthest-side at bottom, currentColor 93%, #0000);
  --r2: radial-gradient(farthest-side at top, currentColor 93%, #0000);
  background:
    var(--c),
    var(--r1),
    var(--r2),
    var(--c),
    var(--r1),
    var(--r2),
    var(--c),
    var(--r1),
    var(--r2);
  background-repeat: no-repeat;
  animation: db1 1s infinite alternate;
}

@keyframes db1 {

  0%,
  10% {
    background-size: 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }

  90%,
  100% {
    background-size: 8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 -2px, 0 calc(100% + 2px), 50% 50%, 50% -2px, 50% calc(100% + 2px), 100% 50%, 100% -2px, 100% calc(100% + 2px);
  }
}