.entry {
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  height: 100%;
  overflow: auto;
  width: 100%;
  margin-top: 50px;
}

.canvas {
  width: 500px;
  max-width: 60vw;
  background-color: lavender;
  border: 1px solid #ccc;
  margin: 0 auto;
  height: 100vh;
}
