.entry {
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  height: 100%;
  overflow: auto;
  width: 100%;
  margin-top: 50px;
}

.canvas {
  border: 1px solid #ccc;
  margin: 0 2em;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.colLeft,
.colCenter,
.colRight {
  display: flex;
  flex-direction: column;
  margin: 8px 16px;
}
