.basicHeaderWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
}

.basicHeaderLeft {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -.5px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.basicHeaderRight {
  display: flex;
  align-items: center;
}

.basicHeaderRightItem {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  line-height: 42px;
}