.upcomingList {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upcomingItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px 0;
  padding: 18px 0;
  width: 100%;
  border-radius: 6px;
  cursor: default;
}

.upcomingItem:hover {
  outline: 1px solid #ccc;
}
